body{
    margin:0;
    padding: 0;
}


a{
    text-decoration: none;  
    color: inherit;         
    background: transparent;
    border: none;           
    outline: none;
}

button:hover{
    cursor: pointer;
}
.for_middle{
    padding-left: 300px;
}
#profile_button{
    font-weight: bold;
}
#profile_button img{
    border:  3px solid black;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:60px;
    column-gap: 30px;
}

.profile_detail{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
}

.profile_detail span{
    font-family: Arial, Helvetica, sans-serif;
}

.first_line_profile{
    display: flex;
    align-items: center;
    gap:15px;
}
.first_line_profile button{
    padding: 9px 15px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.second_line_profile{
    display: flex;
    gap:50px;
}

.second_line_profile button{
    border: none;
    background-color: transparent;
}

textarea{
    max-width: 300px;
    max-height: 90px;

    resize: none;

    border: none;
    outline: none;
    background-color: white;
}



#image_profile{
    width: 150px;
    border-radius: 50%;
}

.you_stories{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 935px;
    padding: 50px 0 0 0;
    margin: auto;
    
    overflow-x: scroll;   
}
.you_stories::-webkit-scrollbar{
    display: none;
}
.you_stories div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.you_stories button{
    width: 87px;
    height: 87px;
    border-radius: 50%;
    border: 2px solid rgb(210, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus{
    background-color: rgb(202, 200, 200);
    border-radius: 10px;
    position: absolute;
}
.plus_one{
    width: 2px;
    height: 30px;
}
.plus_two{
    height: 2px;
    width: 30px;
}

.your_post_saved{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.your_post_saved button{
    font-size: 12px;
    padding-top: 20px;
    border: none;
    background-color: transparent;
}
#new_id_for_button{
    padding-top: 15px;
    font-weight: bold;
    border-top: 3px solid black;
}
#original_id_for_button{
    font-size: 12px;
    padding-top: 20px;
    border: none;
    background-color: transparent; 
}

.posts_area{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);

    max-width: 915px;

    margin: auto;
    gap: 20px;
    padding-top: 20px;
}

.posts_area button img{
    width: 300px;
    height: 300px;
}

.post_view_center{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 0;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: 9999; 
    background-color: rgba(0, 0, 0, 0.5);
}

.post_view{
    display: flex;
    flex-direction: row;

}
.img_or_Video{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 650px;

    margin: 0;
    padding: 0;
}

#post_img{
    width: inherit;
}

.about_post
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    width: 475px;
}

.details_one{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details_two{
    display: flex;
    align-items: center;
    gap: 10px;
}


.details_two p, button{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
#follow{
    border: 0;
    background-color: transparent;
    color: #0095f6;
    font-weight: bold;
}
.details_two button:hover{
    color: rgba(0, 95, 150, 1);
}

.details_two span{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}


.area_comment{
    display: flex;
    flex-direction: column;
    height: 465px;
    overflow-y: auto;
    padding-top: 15px;

    row-gap: 25px;
}
.area_comment::-webkit-scrollbar{
    display: none;
}


.each_comment{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    flex-direction: row;

    gap: 10px;
    
}
.comment{
    width: 390px;

    padding-top: 5px;
}

#comment_line{
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.data_like_res{
    font-size: 11px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: row;
    
    padding-top: 10px;
    gap: 15px;
}

.data_like_res span{
    color: #757575;
    
}

.icons{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    
}

.icons img{
    width: 24px;
}

.publish_comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 5px;
}


textarea{
    resize: none;
    width: 400px;
    height: 14px;
    margin: 0;
    border: none;
    background-color: transparent;

    
}

textarea:focus{
    border: 0 none;
    outline: 0;
}

textarea::-webkit-scrollbar{
    display: none;
}